.skills-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.skills-title {
  font-size: 3em;
  color: #3f72af;
  margin-bottom: 30px;
}
