#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 37%;
  background-color: #9b9b9b;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
  box-sizing: border-box;
}
.hImg {
  width: 28vw;
  height: auto;
  border-radius: 50%;
  position: relative;
  left: 52%;
}
.hIcon {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 5px;
}

#hLogos {
  position: absolute;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  padding: 42px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100vh;
  width: 63%;
  background-color: #c5c5c5;
  color: black;
  padding: 40px;
  box-sizing: border-box;
}
.hDesc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
  width: 80%;
  text-align: end;
}
.hDesc {
  width: 70%;
}
.hName {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rcAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
}
.hButton {
  background-color: #112d4e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.hTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.rightPara {
  font-weight: 400;
  line-height: 0.5;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
