.nb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 8px;
  width: 100%;
}
#nbImg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  filter: invert(0.75) hue-rotate(100deg);
}
h1 {
  font-size: 2rem;
  margin-left: 10px;
}
