.exContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  color: #3f72af;
}

.experience {
  max-width: 35vw;
}

.experience h1 {
  font-size: 3em;
  color: #3f72af;
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: auto;
  height: 70vh;
}
