.projectParent {
  background-color: var(--var-main-darkest);
  color: var(--var-soft-blue);
  padding: 2.5em;
}
.projectParent h1 {
  font-size: 3em;
  color: var(--var-main-title);
  align-items: center;
  justify-content: center;
  display: flex;
}
